* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(245, 255, 245);
}

#root {
    display: block;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

header {
    height: 80px;
    background-color: rgb(50, 98, 50);
}

#header-inner-wrap {
    max-width: 1280px;
    padding: 10px 0;
    margin: 0 auto;
    overflow: auto;
}

#logo {
    max-width: 200px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}

#logo > a {
    color: rgb(209, 246, 209);
    text-decoration: none;
}

#cart-link {
    width: 50px;
    height: 38px;
    position: absolute;
    top: 20px;
    right: 10px;
    background-image: url('../images/cart.png');
    background-size: contain;
}

#cart-link:hover {
    cursor: pointer;
}

#cart-number-of-items {
    padding-top: 10px;
    padding-left: 15px;
    color: rgb(50, 98, 50);
    font-weight: bold;
}

main {
    min-height: 86.5vh;
    padding: 100px 0;
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
}

#main-tea {
    max-width: 960px;
    padding: 100px 10px;
}

h1 {
    font-size: 2em;
    padding: 0 10px;
    margin: 0 auto;
    color: rgb(98, 2, 2);
}

h2 {
    font-size: 1.7em;
    margin-bottom: 10px;
    color: rgb(98, 2, 2);
}

#h2-teas {
    margin-left: 10px;
}

h3, #cart-heading {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: rgb(98, 2, 2);
}

#cart-heading {
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    color: rgb(98, 2, 2);
}

form {
    width: 97%;
    max-width: 400px;
    margin: 0 auto;
}

#search-form {
    display: flex;
    padding: 0 0.5%;
}

#admin-form {
    margin: 0 10px;
}

#radio-group {
    display: flex;
    margin-bottom: 10px;
}

.radiogroup-inner-wrap {
    width: 33.3%;
}

.input-wrapper {
    width: 33.3%;
    padding: 0 0.5%;
}

.input-wrapper-hidden {
    display: none;
}

label {
    color: rgb(98, 2, 2);
    font-weight: bold;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.text-input, button, textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
    padding: 2.5px;
}

button:hover {
    cursor: pointer;
}

#submit-btn {
    margin: 0;
}

.active-toggle-btn {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: rgb(245, 255, 245);
    border: 2px solid rgb(60, 122, 60);
    box-shadow: 0 0 2px 2px rgba(60, 122, 60, 0.5);
    border-radius: 3px;
    color: rgb(60, 122, 60);
    font-weight: bold;
}

.toggle-btn {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: rgb(60, 122, 60);
    border: 2px solid rgb(60, 122, 60);
    box-shadow: 0 0 2px 2px rgba(60, 122, 60, 0.5);
    border-radius: 3px;
    color: rgb(245, 255, 245);
    font-weight: bold;
}

.btn {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgb(0, 168, 190);
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid rgb(0, 168, 190);
    border-radius: 2.5px;
}

.btn > a {
    text-decoration: none;
    color: white;
}

#details {
    width: 34%;
    max-width: 100px;
    margin-right: 1%;
    float: left;
}

.tea-list > div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.tea {
    width: 97%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(236, 254, 236);
    border-radius: 2px;
    box-shadow: 0 0 3px 3px rgba(173, 185, 173, 0.5);
}

.name {
    color:rgb(98, 2, 2);
    font-size: 1.2em;
    font-weight: bold;
    width: 80%;
    float: left;
}

.price {
    color:rgb(98, 2, 2);
    font-size: 1.2em;
    font-weight: bold;
    width: 20%;
    float: right;
    text-align: right;
}

img {
    width: 100%;
    height: auto;
}

#login, #logout {
    margin: 5px auto;
    text-align: right;
    padding-right: 10px;
}

#login-signup, #signup {
    margin: 5px auto;
    text-align: right;
    max-width: 400px;
    padding-right: 0;
}

#cart {
    min-width: 300px;
    max-width: 400px;
    position: fixed;
    top: 80px;
    right: 0;
    background-color: rgb(236, 254, 236);
    padding: 10px;
}

#checkout-cart {
    background-color: rgb(236, 254, 236);
    padding: 10px;
    margin: 0 auto;
}

#delete-from-cart {
    text-align: right;
}

.row {
    overflow: auto;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 30px;
}

.cart-left {
    width: 70%;
    float: left;
}

.cart-right {
    width: 30%;
    float: right;
}

.quantity-select {
    width: 50%;
    font-family: inherit;
    font-size: inherit;
    padding: 2.5px;
    display: none;
}

#quantity-select-tea {
    width: 100px;
}

.sum-details {
    font-weight: bold;
}

#checkout {
    max-width: 600px;
    margin: 0 auto;
}

.link-main {
    color: rgb(98, 2, 2);
    font-weight: bold;
}

footer {
    height: 50px;
    background-color: rgb(50, 98, 50);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 0;
}

footer > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(209, 246, 209);
}

#h1-login, #h1-signup {
    max-width: 400px;
    padding-left: 0;
}

#h1-tea, #h1-checkout {
    padding-left: 0;
}

#rating {
    font-size: 1.4em;
    color: orange;
}

.star:hover {
    cursor: pointer;
}

#consent {
    width: 100%;
    height: 370px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
    overflow: scroll;
}

#consent-inner-wrap {
    padding: 20px 10px;
    max-width: 600px;
    margin: 0 auto;
}

.consent-heading {
    width: 50%;
    display: inline-block;
}

.cookies-expand {
    font-size: 2em;
    font-weight: bold;
    width: 50%;
    display: inline-block;
    text-align: right;
}

.cookies-expand > a {
    text-decoration: none;
    color:rgb(98, 2, 2);
}

#about-cookies, #types-of-cookies {
    display: none;
    padding: 10px;
}

.cookies-switch {
    width: 50px;
    height: 25px;
    border-radius: 12.5px;
    background-color: lightgray;
    padding: 2.5px;
    float: right;
}

#necessary-cookies-switch {
    background-color: lightskyblue;
}

#necessary-cookies-switch:hover {
    cursor: default;
}

.cookies-switch:hover {
    cursor: pointer;
}

.cookies-slider {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
}

#necessary-cookies-slider {
    float: right;
}

.consent-btn {
    background-color: rgb(0, 168, 190);
    color: white;
    font-weight: bold;
    border: 2px solid rgb(0, 168, 190);
    border-radius: 2.5px;
    padding: 5px;
}

#selected-cookies-btn:disabled {
    background-color: #f0f0f0;
    color: #707070;
    border: 2px solid #d0cfcf;
    font-weight: normal;
}

#selected-cookies-btn:disabled:hover {
    cursor: default;
}

@media only screen and (min-width: 451px) and (max-width: 700px) {
    #search-form {
        margin-left: 0;
    }

    .tea {
        width: 48%;
        margin-left: 0;
    }

    .tea-list > div {
        display: flex;
        column-count: 2;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 701px) and (max-width: 960px) {
    #search-form {
        margin-left: 0;
    }

    .tea {
        width: 48%;
        margin-left: 0;
    }

    .tea-list > div {
        display: flex;
        column-count: 3;
        flex-wrap: wrap;
    }

    #tea-left {
        width: 45%;
        float: left;
    }

    #tea-right {
        width: 50%;
        float: right;
    }

    #consent {
        height: 270px;
    }

    .consent-btn {
        width: 32%;
    }

    #selected-cookies-btn {
        margin: 0 2%;
    }
}

@media only screen and (min-width: 960px) {
    #tea-list-home, #toggle-btns {
        width: 80%;
        float: left;
    }

    #search-form {
        width: 20%;
        float: right;
        display: block;
        margin-top: 30px;
    }

    .input-wrapper {
        width: 100%;
    }

    .tea-list > div {
        column-count: 3;
    }

    .tea {
        width: 31.3%;
        margin: 10px 1%;
    }

    .tea:hover {
        width: 33.3%;
        margin: 0;
        cursor: pointer;
    }

    #tea-left {
        width: 40%;
        float: left;
    }

    #tea-right {
        width: 50%;
        float: right;
    }

    .name {
        width: 75%;
    }

    .price {
        width: 25%;
    }

    #consent {
        height: 270px;
    }

    .consent-btn {
        width: 32%;
    }

    #selected-cookies-btn {
        margin: 0 2%;
    }
}